h1           { font-family: Verdana; color: #4040FF; font-size:18pt; font-weight: 400}
p            { font-family: Verdana; color: #05351F; font-size:11pt }
h3           { font-family: Verdana; color:#010481; font-size:12pt }
h2           { font-family: Verdana; color: #0308D1; font-size:14pt; }
h4           { font-family: Verdana; color:#000260; font-size:11pt }
a:link       { color: #403E3E}
a:visited    { color: #403E3E}